.calendar-page {
    background: rgb(34, 34, 34);
    height: 100vh;
    width: 100vw;
    padding: 100px;
}
.calendar-page-title {
    color: white;
    margin: 0;
    width: 400px;
    font-size: 25pt;
    font-weight: 400;
    margin-top: 60px;
    line-height: 30px;
}
.calendar-page-subtitle {
    color: rgba(255, 255, 255, 0.795);
    font-size: 9pt;
    margin: 0;
    width: 200px;
    margin-top: 20px;
}
.calendar-page-data {
    color: white;
    font-size: 13pt;
    margin: 0;
    width: 300px;
    margin-top: 20px;
    background:rgb(119, 10, 245);
    border-radius: 60px;
    padding: 10px;
    text-align: center;
    font-weight: 700;
}







.Calendar {
    border-collapse: collapse;
    padding: 0;
    margin: 20px;
}
.Calendar th,
.Calendar td {
    padding: 4px;
    text-align: center;
    color: white;
}

.Day:hover {
    background: rgb(119, 10, 245);
    color: #aaa;
    border-radius: 10px;
    transition: 0.2s;
}

.Day.today {
    background: rgb(235, 232, 238);
    color: rgb(41, 40, 43);
    transition: 0.2s;
    border-radius: 10px;
}
.Day.selected {
    background: #f1f3f5;
    color: rgb(39, 36, 36);
    width: 40px;
    height: 40px;
    transition: 0.2s;
    border-radius: 10px;
}

.Day.other-month {
    background: rgba(116, 13, 233, 0.178);
    color: #aaa;
}

.nav-inner {
    background: rgb(119, 10, 245);
    border-radius: 60px;
    border: 0;
    width: 40px;
    height: 40px;
    color: white;
}
.Day-inner {
    background: rgb(119, 10, 245);
    border: 0;
    color: white;
    border-radius: 60px;
    width: 40px;
    height: 40px;
}